@page
@model MeterDataDashboard.Web.Pages.ScadaNodes.LiveStatusModel
@{
    ViewData["Title"] = "Live Ping status of SCADA Nodes";
}

<h1>Live Ping status <a asp-page="/ScadaNodes/History">See History</a></h1>
<p>
    <label class="mr-1">Status Filters - </label>
    <label class="mr-1"><input type="checkbox" onchange="updateTableFilters()" id="onlineShowChkBx"> Online</label>
    <label class="mr-3"><input type="checkbox" onchange="updateTableFilters()" id="offlineShowChkBx"> Offline</label>
    <label class="mr-1"> Node Filters - </label>
    <label class="mr-1"><input type="checkbox" onchange="updateTableFilters()" id="rtuPShowChkBx"> RTU (P)</label>
    <label class="mr-1"><input type="checkbox" onchange="updateTableFilters()" id="rtuSShowChkBx"> RTU (S)</label>
    <label class="mr-1"><input type="checkbox" onchange="updateTableFilters()" id="tsPShowChkBx"> TS (P)</label>
    <label class="mr-1"><input type="checkbox" onchange="updateTableFilters()" id="tsSShowChkBx"> TS (S)</label>
    <label class="mr-1"><input type="checkbox" onchange="updateTableFilters()" id="voipShowChkBx"> VOIP</label>
</p>

<table class="table table-responsive table-bordered table-hover display" id="meas_table">
    <thead>
        <tr>
            <th class="pingStatusCol">
                Status
            </th>
            <th class="nodeNameCol">
                Name
            </th>
            <th>
                Latest Update At
            </th>
            <th>
                Last Status Change
            </th>
            <th>
                No Change Since
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LiveNodesStatus_)
        {
            <tr>
                <td>
                    @(item.Status == 1 ? "Online" : "Offline")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NodeName)
                </td>
                <td>
                    @item.StatusTime.ToString("yyyy-MM-dd HH:mm:ss")
                </td>
                <td>
                    @item.LatestStatusToggleTime.ToString("yyyy-MM-dd HH:mm:ss")
                </td>
                <td>
                    <span style="color:transparent;font-size:0.1em">@((item.StatusTime - item.LatestStatusToggleTime).ToString(@"dd\:hh\:mm"))|</span>@(string.Format("{0:%d} days {0:%h} hrs {0:%m} mins", item.StatusTime - item.LatestStatusToggleTime))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                Status
            </th>
            <th>
                Name
            </th>
            <th>
                Latest Update At
            </th>
            <th>
                Last Status Change
            </th>
            <th>
                No Change Since
            </th>
        </tr>
    </tfoot>
</table>

@section Scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/fh-3.1.4/r-2.2.2/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script>

        $(document).ready(function () {
            // https://datatables.net/examples/api/multi_filter.html
            // Setup - add a text input to each footer cell
            $('#meas_table tfoot th').each(function () {
                //var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search" />');
            });

            var meas_table = $('#meas_table').DataTable({
                fixedHeader: true,
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                "pageLength": 20,
                dom: 'Bfrtip',
                "order": [[0, "asc"]],
                buttons: ['pageLength', 'copy', 'csv', 'excel', 'pdf', 'print']
            });

            var r = $('#meas_table tfoot tr');
            r.find('th').each(function () {
                $(this).css('padding', '3px');
            });

            $('#meas_table thead').append(r);

            // Apply the filter
            // https://www.jqueryscript.net/demo/DataTables-Jquery-Table-Plugin/examples/api/multi_filter.html
            $("#meas_table thead input").on('keyup change', function () {
                meas_table
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();
            });
        });

        function updateTableFilters() {
            var meas_table = $('#meas_table').dataTable();
            // apply filter on status column
            var statusFilterStrs = [];
            if (document.getElementById("onlineShowChkBx").checked) {
                statusFilterStrs.push('online');
            }
            if (document.getElementById("offlineShowChkBx").checked) {
                statusFilterStrs.push('offline');
            }
            var statusSearchStr = '';
            if (statusFilterStrs.length > 0) {
                statusSearchStr = '(' + statusFilterStrs.join('|') + ').*'
            }
            meas_table.api()
                .columns('.pingStatusCol')
                .search(statusSearchStr, true)
                .draw();

            // apply filter on name column
            var nameFilterStrs = [];
            if (document.getElementById("rtuPShowChkBx").checked) {
                nameFilterStrs.push('rtu_p_');
            }
            if (document.getElementById("rtuSShowChkBx").checked) {
                nameFilterStrs.push('rtu_s_');
            }
            if (document.getElementById("tsPShowChkBx").checked) {
                nameFilterStrs.push('ts_p_');
            }
            if (document.getElementById("tsSShowChkBx").checked) {
                nameFilterStrs.push('ts_s_');
            }
            if (document.getElementById("voipShowChkBx").checked) {
                nameFilterStrs.push('_voip');
            }
            var nameSearchStr = '';
            if (nameFilterStrs.length > 0) {
                nameSearchStr = '(' + nameFilterStrs.join('|') + ').*'
            }
            meas_table.api()
                .columns('.nodeNameCol')
                .search(nameSearchStr, true)
                .draw();
        }
    </script>
    <style>
        thead input {
            padding: 2px;
            box-sizing: border-box;
            font-size: small;
            width: 100%;
        }
    </style>
}

