@model MeterDataDashboard.Web.Models.UserMgmt.UserListVM
@{
    ViewData["Title"] = "Manage Users";
}

@if (Model != null && Model.Users != null)
{
    <div class="row justify-content-center align-items-center">
        <div class="col col-md-10 col-lg-6">
            <h2>@ViewData["Title"]</h2>
            <hr />
            <table class="table table-bordered table-hover display" id="users_table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.Username</td>
                            <td>@user.Email</td>
                            <td>@user.UserRole</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@user.UserId">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@user.UserId">Delete</a>
                            </td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                </tfoot>
            </table>
            <br />
            <p>
                <a asp-action="Create" class="btn btn-success">Create New</a>
            </p>
        </div>

    </div>
}

@section Scripts{
    <link rel="stylesheet" type="text/css" href="~/lib/node_modules/datatables/media/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="~/lib/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/lib/node_modules/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/lib/node_modules/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/lib/node_modules/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            // https://datatables.net/examples/api/multi_filter.html
            // Setup - add a text input to each footer cell
            $('#users_table tfoot th').each(function () {
                //var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search" />');
            });
            var users_table = $('#users_table').DataTable({
                fixedHeader: true,
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                "pageLength": 50,
                dom: 'Bfrtip',
                "order": [[0, "asc"]],
                buttons: ['pageLength', 'copy', 'csv', 'excel', 'print']
            });
            var r = $('#users_table tfoot tr');
            r.find('th').each(function () {
                $(this).css('padding', '3px');
            });
            $('#users_table thead').append(r);
            // Apply the filter
            // https://www.jqueryscript.net/demo/DataTables-Jquery-Table-Plugin/examples/api/multi_filter.html
            $("#users_table thead input").on('keyup change', function () {
                users_table
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();
            });
        });
    </script>
    <style>
        thead input {
            padding: 2px;
            box-sizing: border-box;
            font-size: small;
            width: 100%
        }
    </style>
}